  <!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taker</title>
    <link rel="stylesheet" href="foundation-5.5.2/css/foundation.css" />
    <script src="foundation-5.5.2/js/vendor/modernizr.js"></script>
  </head>
  <body>
       

      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#Embedded" class="button">Embedded</a></li>
             <li><a href="#Electronics_II" class="button">Electronics II</a></li>
             <li><a href="#Digital_Systems" class="button">Digital Systems</a></li>
             <li><a href="#Sens_And_Trans" class="button">Sens and Trans</a></li>
            </ul>
          </div>
          <h1>Note Taker</h1>
          <hr/>
        </div>
      </div>
     
       
     
     
       
     
      <div class="row">
     
         
        <div class="large-9 columns" role="content">
     
          <article>
            <h3><a id="Embedded" href="#">Embedded Systems</a></h3>
            <div class="row">
              <div class="large-12 columns">
                <p> Class time: <br> Tuesday 8:00-10:45 a.m. <br> Thursday 8:00-9:15 a.m.<p>
                  <textarea name="Embedded" rows="8" cols="200" style="background-color:#FCF5D8;color:#AD8C08;border:3px solid #AD8C08;">Write notes here...</textarea>
              </div>
            </div>
          </article>
          <input id="Embedded_Save" type="image" src="images/save-icon.png" height="45" width="45" alt="Submit button">       
          
          <hr/>
     
          <article>
            <h3><a id="Electronics_II" href="#">Electronics II</a></h3>
            <div class="row">
              <div class="large-12 columns">
                <p> Class time: <br> Monday, Wednesday, Friday 9:05-9:55 a.m.<p>
                  <textarea name="Electronics" rows="8" cols="200" style="background-color:#FCF5D8;color:#AD8C08;border:3px solid #AD8C08;">Write notes here...</textarea>
              </div>
            </div>
          </article>
          <input id="Elect_Save" type="image" src="images/save-icon.png" height="45" width="45" alt="Submit button">

          <hr/>

          <article>
            <h3><a id="Digital_Systems" href="#">Design of Digital Systems</a></h3>
            <div class="row">
              <div class="large-12 columns">
                <p> Class time: <br> Monday, Wednesday 1:15-2:15 p.m. <br> Friday 1:25-4:25 p.m.<p>
                  <textarea name="Electronics" rows="8" cols="200" style="background-color:#FCF5D8;color:#AD8C08;border:3px solid #AD8C08;">Write notes here...</textarea>
              </div>
            </div>
          </article>
          <input id="Dig_Save" type="image" src="images/save-icon.png" height="45" width="45" alt="Submit button">

          <hr/>

          <article>
            <h3><a id="Sens_And_Trans" href="#">Sensors and Transducers</a></h3>
            <div class="row">
              <div class="large-12 columns">
                <p> Class time: <br> Tuesday, Thursday 2:00-4:00 p.m.<p>
                  <textarea name="Electronics" rows="8" cols="200" style="background-color:#FCF5D8;color:#AD8C08;border:3px solid #AD8C08;">Write notes here...</textarea>
              </div>
            </div>
          </article>
          <input id="Sens_Save" type="image" src="images/save-icon.png" height="45" width="45" alt="Submit button">
     
        </div>
     
         
      </div>
     
       
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#Embedded">Embedded</a></li>
                <li><a href="#Electronics_II">Electronics II</a></li>
                <li><a href="#Digital_Systems">Digital Systems</a></li>
                <li><a href="#Sens_And_Trans">Sens and Trans</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </body>
</html>
